  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,100&display=swap');
 :root {
    --main-bg-color: #2370f4;
  } 
  
*{
    padding: 0;
    margin: 0;
}
header{
    background-color: var(--main-bg-color);
    border: 2px solid white;
    font-family: 'IBM Plex Sans', sans-serif;
}
 nav{
    display: flex;
 }
 .logo{
   display: flex; 
   align-items: center;
 }
 .logo img{
    height: 31px;
width: 151px;
 }
nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0 23px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    color: greenyellow;
    font-weight: bold;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    height: 25px;
    width: 30vw;
    border-radius: 12px;
    margin: 0 16px 0 56px;
    padding: 0 12px;
}
.card{
    max-width: 91vw;
    margin:37px auto;
}
.cards{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    overflow: scroll;
}
.card-items{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
    
}
.card h2{
    font-family: 'IBM Plex Sans', sans-serif;
}
.search button{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 900px;
}
 .container{
    min-height: 430px; 
}
.slider{
    margin:auto;
    overflow: hidden;
    width: 63vw;
    
}
footer{
    height: 12vh;
    background-color:var(--main-bg-color);
    color: white;
}